
.landing{
  	position: absolute;
  	top: 0;
  	left:0;
  	height: 100vh;
}

.backdrop-landing{
	padding-top: 56px;
	background-color: dodgerblue;
	position:relative;
	/*height: 20%;*/
  	width: 100vw;
  	color: white;
}

.backdrop-image{
	width: 100%;
}

.backdrop-image-text{
	position: absolute;
	top: 70px;
	padding-left: 20px;

}