/*original grey #363B42*/

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #18aaff;
  height: 56px;
  z-index:1; 
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  line-height: 350%;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
  height: 100%;
  display: inline-block;
}

.toolbar_navigation-items li:hover{
  background: #64c6ff;

}

.toolbar_navigation-items li a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  display: block;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}