.main_container{
	text-align: center;
}

.inner_container{
	background-color: #282D33;
	width: 20%;
	height: 20%;
	display: inline-block;
	margin-top: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner_container:hover{
	background-color: #393838;
	box-shadow: -10px 10px 8px #888888;
}

.img{
	width: 100%;
}

.label{
	color: cyan;
}